<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital emergencia></title>
    
    <style>

       
        body{

            background-color: rgb(185, 185, 166);
            padding: 60px;
        }

        .container{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            max-width: 550px;
            margin: auto;
            -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,21);
            box-shadow: 2px 2px 13px -4px rgba(0,0,0,21);
        }

    </style>
</head>
<body>
    <div class="container">
        
        {% block content %}



        {% endblock content %}
        



    </div>
</body>
</html>